<p id="notice"><%= notice %></p>

<p>
  <strong>Atai:</strong>
  <%= @jyoutai_umumijisshi.atai %>
</p>

<%= link_to 'Edit', edit_jyoutai_umumijisshi_path(@jyoutai_umumijisshi) %> |
<%= link_to 'Back', jyoutai_umumijisshis_path %>
