<p id="notice"><%= notice %></p>

<p>
  <strong>Atai:</strong>
  <%= @chosakekka_code.atai %>
</p>

<%= link_to 'Edit', edit_chosakekka_code_path(@chosakekka_code) %> |
<%= link_to 'Back', chosakekka_codes_path %>
