    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h3><span class="glyphicon glyphicon-phone"></span>えんたくん</h3>
        <h4>西尾張電設 株式会社</h4>
		<h4>メンテナンス記録システム</h4>
		<h6>端末のコストダウンを実現し、</h6>
        <h6>入力操作の更なる効率化がはかれる、</h6>
        <h6>フィールド担当者向けの業務システム「えんたくん」です。</h6>
        <h6>従来端末と比べ、コストダウン・能率アップをはかることはもちろん、</h6>
        <h6>専用機を用意する必要がない、端末に依存しないシステムです。</h6>
		<img src ="http://kazomichan.noip.me/enter.png" width ="40px" height="126px">

        <p>
			<% if session[:whoami_id].blank? %>
			<a href="/signin" class="btn btn-primary btn-lg">
			<% else %>
			<a href="/kofus" class="btn btn-primary btn-lg">
		    <% end %>
				早速使ってみる <span class="glyphicon glyphicon-arrow-right"></span></a></p>
      </div>
  </div>