<p id="notice"><%= notice %></p>

<p>
  <strong>Atai:</strong>
  <%= @riyu_monshin.atai %>
</p>

<%= link_to 'Edit', edit_riyu_monshin_path(@riyu_monshin) %> |
<%= link_to 'Back', riyu_monshins_path %>
